*{
    padding: 0;
    margin: 0;
}

@font-face { font-family: CamphorPro-Light; src: url(./fonts/CamphorPro-Light.woff) format("woff")}
@font-face { font-family: CamphorPro-Regular; src: url(./fonts/CamphorPro-Regular.woff) format("woff")}
@font-face { font-family: CamphorPro-Bold;  src: url(./fonts/CamphorPro-Bold.woff) format("woff")}
@font-face { font-family: CamphorPro-Thin; src: url(./fonts/CamphorPro-Thin.woff) format("woff")}
@font-face { font-family: Camphor-Heavy;  src: url(./fonts/CamphorPro-Heavy.woff) format("woff")}
@font-face { font-family: CamphorPro-Medium; src: url(./fonts/CamphorPro-Medium.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 100; src: url(./fonts/proxima-nova-thin.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 300; src: url(./fonts/proxima-nova-light.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 400; src: url(./fonts/proxima-nova-regular.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 600; src: url(./fonts/proxima-nova-semibold.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 700; src: url(./fonts/proxima-nova-bold.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 800; src: url(./fonts/proxima-nova-extrabold.woff) format("woff")}
@font-face { font-family: ProximaNova; font-style: normal; font-weight: 900; src: url(./fonts/proxima-nova-black.woff) format("woff")}
  

.AX3000 .f-heavy { font-family: Camphor-Heavy, sans-serif; font-weight: 900}
.AX3000 .f-regular {font-family: CamphorPro-Regular, sans-serif}
.AX3000 .f-light {font-family: CamphorPro-Light, sans-serif}
.AX3000 .f-bold {font-family: CamphorPro-Bold, sans-serif;font-weight: 700}
.AX3000 .f-medium {font-family: CamphorPro-Medium, sans-serif}
.AX3000 .f-thin {font-family: CamphorPro-Thin, sans-serif}
.AX3000 .f-nova { font-family: ProximaNova, sans-serif}


/*-------------------------------------------------------------------*/


.AX3000 {
    width: 100%
}

.AX3000 .f12 {
    font-size: .046875rem
}

.AX3000 .f14 {
    font-size: .054688rem
}

.AX3000 .f16 {
    font-size: .0625rem
}

.AX3000 .f18 {
    font-size: .070313rem
}

.AX3000 .f20 {
    font-size: .078125rem
}

.AX3000 .f22 {
    font-size: .085938rem
}

.AX3000 .f24 {
    font-size: .09375rem
}

.AX3000 .f26 {
    font-size: .101563rem
}

.AX3000 .f28 {
    font-size: .109375rem
}

.AX3000 .f30 {
    font-size: .117188rem
}

.AX3000 .f32 {
    font-size: .125rem
}

.AX3000 .f34 {
    font-size: .132813rem
}

.AX3000 .f36 {
    font-size: .140625rem
}

.AX3000 .f38 {
    font-size: .148438rem
}

.AX3000 .f40 {
    font-size: .15625rem
}

.AX3000 .f42 {
    font-size: .164063rem
}

.AX3000 .f44 {
    font-size: .171875rem
}

.AX3000 .f46 {
    font-size: .179688rem
}

.AX3000 .f48 {
    font-size: .1875rem
}

.AX3000 .f50 {
    font-size: .195313rem
}

.AX3000 .f52 {
    font-size: .203125rem
}

.AX3000 .f54 {
    font-size: .210938rem
}

.AX3000 .f56 {
    font-size: .21875rem
}

.AX3000 .f58 {
    font-size: .226563rem
}

.AX3000 .f60 {
    font-size: .234375rem
}

.AX3000 .f64 {
    font-size: .25rem
}

.AX3000 .f66 {
    font-size: .257813rem
}

.AX3000 .f68 {
    font-size: .265625rem
}

.AX3000 .f70 {
    font-size: .273438rem
}

.AX3000 .f72 {
    font-size: .28125rem
}

.AX3000 .f74 {
    font-size: .289063rem
}

.AX3000 .f76 {
    font-size: .296875rem
}

.AX3000 .f78 {
    font-size: .304688rem
}

.AX3000 .f80 {
    font-size: .3125rem
}

.AX3000 .f82 {
    font-size: .320313rem
}

.AX3000 .f86 {
    font-size: .335938rem
}

.AX3000 .f88 {
    font-size: .34375rem
}

.AX3000 .f90 {
    font-size: .351563rem
}

.AX3000 .f92 {
    font-size: .359375rem
}

.AX3000 .f98 {
    font-size: .382813rem
}

.AX3000 .f100 {
    font-size: .390625rem
}

.AX3000 .f106 {
    font-size: .414063rem
}

.AX3000 .f108 {
    font-size: .421875rem
}

.AX3000 .f110 {
    font-size: .429688rem
}

.AX3000 .f114 {
    font-size: .445313rem
}

.AX3000 .f116 {
    font-size: .453125rem
}

.AX3000 .f120 {
    font-size: .46875rem
}

.AX3000 .f128 {
    font-size: .5rem
}

.AX3000 .f130 {
    font-size: .507813rem
}

.AX3000 .f138 {
    font-size: .539063rem
}

.AX3000 .f140 {
    font-size: .546875rem
}

.AX3000 .f146 {
    font-size: .570313rem
}

.AX3000 .f148 {
    font-size: .578125rem
}

.AX3000 .f150 {
    font-size: .585938rem
}

.AX3000 .f160 {
    font-size: .625rem
}

.AX3000 .f200 {
    font-size: .78125rem
}

.AX3000 .secao {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    line-height: 1.2;
    margin-bottom: -1px;
    min-width: 4.789063rem;
    overflow: hidden;
    position: relative
}

.hairlines .AX3000 .secao {
    margin-bottom: -.5px
}

.AX3000 .secao1 {
    color: #fff;
    height: 6.3125rem;
    text-align: center
}

.AX3000 .secao1 .secao1_content {
    padding-top: .613281rem
}

.AX3000 .secao1 .secao1_icon {
    height: .242188rem;
    margin-right: .117188rem;
    width: 1.285156rem
}

.AX3000 .secao1 .slogan_1 {
    margin-top: .160156rem
}

.AX3000 .secao1 .preco-comum {
    margin-top: .195313rem
}

.AX3000 .secao2 {
    align-items: center;
    background-color: #24262b;
    color: #fff;
    display: flex;
    height: 3.125rem;
    justify-content: center
}

.AX3000 .secao2 .secao2_content_button {
    box-sizing: border-box;
    display: flex
}

.AX3000 .secao2 .secao2_left {
    height: 2.304688rem;
    margin-right: .117188rem;
    position: relative;
    width: 2.140625rem
}

.AX3000 .secao2 .secao2_img1 {
    height: 2.304688rem;
    position: absolute;
    width: 2.140625rem
}

.AX3000 .secao2 .slogan_2 {
    position: absolute;
    text-align: center;
    top: .165625rem;
    width: 2.023438rem;
    z-index: 10;
    left: 10px;
}

.AX3000 .secao2 .secao2_img2 {
    height: 1.089844rem;
    width: 4.882813rem
}

.AX3000 .secao2 .secao2_content>div {
    position: relative
}

.AX3000 .secao2 .slogan_3 {
    left: .34375rem;
    position: absolute;
    text-align: center;
    top: .265625rem;
    width: 2.023438rem
}

.AX3000 .secao2 .secao2_img3,
.AX3000 .secao2 .secao2_img4 {
    height: 1.09375rem;
    width: 2.382813rem
}

.AX3000 .secao2 .secao2_content_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: .078125rem
}

.AX3000 .secao2 .secao2_content_bottom div {
    position: relative
}

.AX3000 .secao2 .slogan_4,
.AX3000 .secao2 .slogan_5 {
    left: .34375rem;
    position: absolute;
    text-align: center;
    top: .182813rem;
    width: 1.742188rem
}

.AX3000 .secao-new {
    background-size: cover;
    box-sizing: border-box;
    height: 4.6875rem;
    padding-top: .597656rem
}

.AX3000 .secao-new .title {
    color: #1b1b1b;
    display: block;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    width: 5.46875rem
}

.AX3000 .secao-new .text-box {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    position: absolute;
    text-align: center;
    width: 1.132813rem
}

.AX3000 .secao-new .text-box-1 {
    left: 2.214844rem;
    top: 3.074219rem
}

.AX3000 .secao-new .text-box-2 {
    right: 2.148438rem;
    top: 2.558594rem;
    width: 1.25rem
}

.AX3000 .secao3 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 4.765625rem;
    text-align: center
}

.AX3000 .secao3>div {
    padding-top: .597656rem;
    width: 7.03125rem
}

.AX3000 .secao3 .viewover_1 {
    margin-bottom: .132813rem
}

.AX3000 .secao4 {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 5.398438rem
}

.AX3000 .secao4>div {
    color: #fff;
    padding-top: .601563rem;
    text-align: center;
    width: 7.03125rem
}

.AX3000 .secao4 .viewover_3 {
    margin-bottom: .132813rem
}

.AX3000 .secao5 {
    background-size: cover;
    height: 4.921875rem
}

.AX3000 .secao5>div {
    padding-left: 1.375rem;
    padding-top: 1.796875rem;
    width: 3.078125rem
}

.AX3000 .secao5 .viewover_5 {
    margin-bottom: .085938rem
}

.AX3000 .secao5 .viewover_6 {
    color: #333
}

.AX3000 .secao6 {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 12.851563rem
}

.AX3000 .secao6 .secao6_top {
    padding-top: .585938rem;
    text-align: center;
    width: 7.03125rem
}

.AX3000 .secao6 .viewover_7 {
    margin-bottom: .097656rem
}

.AX3000 .secao6 .secao6_content {
    align-items: center;
    display: flex;
    height: 3.953125rem;
    justify-content: center;
    margin-top: 2.296875rem;
    width: 8.558594rem
}

.AX3000 .secao6 .viewover_9 {
    margin: .078125rem
}

.AX3000 .secao6 .viewover_15,
.AX3000 .secao6 .viewover_16 {
    margin-bottom: .3125rem;
    margin-top: .195313rem
}

.AX3000 .secao6 .viewover_11,
.AX3000 .secao6 .viewover_15 {
    background: linear-gradient(90deg, #71c8fd, #336fe9);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000
}

.AX3000 .secao6 .left {
    display: flex;
    text-align: center
}

.AX3000 .secao6 .left div:first-child {
    margin-right: .667969rem
}

.AX3000 .secao6 .left div:nth-child(2) {
    margin-right: .726563rem
}

.AX3000 .secao6 .left div {
    display: flex;
    flex-direction: column
}

.AX3000 .secao6 .right {
    width: 3.402344rem
}

.AX3000 .secao6 .viewover_13 {
    margin-bottom: .117188rem
}

.AX3000 .secao6 .viewover_50,
.AX3000 .secao6 .viewover_51 {
    color: #939597
}

.AX3000 .secao6 .secao6_img1 {
    height: 2.257813rem;
    margin-bottom: .246094rem;
    width: 1.042969rem
}

.AX3000 .secao6 .secao6_img2 {
    height: 2.257813rem;
    margin-bottom: .246094rem;
    width: .621094rem
}

.AX3000 .secao6 .secao6_2 {
    margin-top: .574219rem;
    text-align: center;
    width: 7.03125rem
}

.AX3000 .secao6 .secao6_3_content {
    display: flex;
    margin-top: .507813rem
}

.AX3000 .secao6 .secao6_3_content>div {
    text-align: center
}

.AX3000 .secao6 .secao6_3_content>div:first-child {
    border-right: 1px solid #c5c5c54d;
    margin-right: .292969rem;
    padding-bottom: .195313rem;
    padding-right: .292969rem
}

.hairlines .AX3000 .secao6 .secao6_3_content>div:first-child {
    border-right: .5px solid #c5c5c54d
}

.AX3000 .secao6 .secao6_3_left {
    display: flex
}

.AX3000 .secao6 .secao6_3_left>div {
    display: flex;
    flex-direction: column
}

.AX3000 .secao6 .secao6_3_left>div span {
    text-align: center;
    width: 1.497656rem
}

.AX3000 .secao6 .secao6_3_left>div span:first-child {
    color: #1de948;
    margin-top: .012548rem
}

.AX3000 .secao6 .secao6_3_left>div span:nth-child(2) {
    color: #1db2ff;
    margin-top: .251563rem
}

.AX3000 .secao6 .secao6_3_left>div span:nth-child(3) {
    color: #1cffce;
    margin-top: .2125rem
}

.AX3000 .secao6 .secao6_img3 {
    height: 1.25rem;
    margin-top: .15625rem;
    width: 2.441406rem
}

.AX3000 .secao6 .secao6_3_right {
    display: flex
}

.AX3000 .secao6 .secao6_3_right>div {
    display: flex;
    flex-direction: column
}

.AX3000 .secao6 .secao6_3_right>div span {
    width: 1.597656rem
}

.AX3000 .secao6 .secao6_3_right>div span:first-child {
    color: #1de948;
    margin-top: .1rem
}

.AX3000 .secao6 .secao6_3_right>div span:nth-child(2) {
    margin-top: 0.114844rem
}

.AX3000 .secao6 .secao6_3_right>div span:nth-child(3) {
    margin-top: .134375rem
}

.AX3000 .secao7 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 4.765625rem;
    text-align: center
}

.AX3000 .secao7>div {
    margin-top: .574219rem;
    width: 7.03125rem
}

.AX3000 .secao7 .viewover_18 {
    margin-top: .105469rem
}

.AX3000 .secao8 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 9.277344rem
}

.AX3000 .secao8 .secao8_top {
    margin-top: .585938rem;
    text-align: center;
    width: 7.03125rem
}

.AX3000 .secao8 .viewover_20 {
    margin-top: .046875rem
}

.AX3000 .secao8 .viewover_22 {
    margin-bottom: .078125rem
}

.AX3000 .secao8 .viewover_21 {
    color: #fff9;
    line-height: .15625rem;
    margin-top: .074219rem
}

.AX3000 .secao8 .secao8_content {
    display: flex;
    height: 3.984375rem;
    justify-content: space-between;
    margin-top: 2.8125rem;
    padding-left: .597656rem;
    position: relative;
    width: 8.558594rem
}

.AX3000 .secao8 .secao8_content>div {
    margin-top: 1.417969rem;
    width: 3.320313rem
}

.AX3000 .secao8 .secao8_img {
    height: 5.984375rem;
    position: absolute;
    right: -1.132813rem;
    top: -.410156rem;
    width: 5.667969rem
}

.AX3000 .secao9 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 4.359375rem
}

.AX3000 .secao9>div {
    margin-right: 1.304688rem;
    margin-top: 1.484375rem;
    width: 3.320313rem
}

.AX3000 .secao9 .viewover_24 {
    margin-bottom: .09375rem
}

.AX3000 .secao10 {
    height: 7.03125rem
}

.AX3000 .secao10 .secao10_text {
    color: #fff;
    margin-left: 1.378906rem;
    margin-top: 1.414063rem;
    width: 3.320313rem
}

.AX3000 .secao10 .secao10_img {
    display: flex;
    justify-content: center;
    margin-top: .859375rem
}

.AX3000 .secao10 .viewover_26 {
    margin-bottom: .167969rem
}

.AX3000 .secao10 .secao10_img1,
.AX3000 .secao10 .secao10_img2 {
    margin-right: .117188rem
}

.AX3000 .secao10 .secao10_img1,
.AX3000 .secao10 .secao10_img2,
.AX3000 .secao10 .secao10_img3 {
    height: 3.085938rem;
    width: 2.863281rem
}

.AX3000 .secao11 {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 3.515625rem;
    text-align: center
}

.AX3000 .secao11 .viewover_28 {
    margin-bottom: .242188rem;
    margin-top: .484375rem;
    width: 7.03125rem
}

.AX3000 .secao11 .secao11_content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    width: 7.03125rem
}

.AX3000 .secao11 .secao11_img1 {
    height: .625rem;
    margin-bottom: .117188rem;
    width: .625rem
}

.AX3000 .secao11 .secao11_content>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: .78125rem;
    width: 1.171875rem
}

.AX3000 .secao11 .secao11_content>div:last-child {
    margin: 0
}

.AX3000 .secao11 .secao11_content>div span {
    width: 1.386719rem
}

.AX3000 .secao11 .secao11_content>div span:nth-child(2) {
    margin-bottom: .054688rem
}

.AX3000 .secao11 .secao11_content>div span:nth-child(3) {
    color: #fff9
}

.AX3000 .secao12 {
    color: #fff;
    height: 1.953125rem
}

.AX3000 .secao12 .viewover_37 {
    color: #fff;
    margin-left: 2.28125rem;
    margin-top: .816406rem;
    width: 3.152344rem
}

.AX3000 .secao13 {
    align-items: center;
    color: #666c;
    display: flex;
    flex-direction: column;
    padding: .46875rem 0;
    text-align: left
}

.AX3000 .secao13>span:first-child {
    margin-bottom: .101563rem
}

.AX3000 .secao13>span {
    width: 7.121094rem
}

.edit-secao {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 30px
}

.principal-xm--origin {
    font-size: .6em;
    text-decoration: line-through
}

.principal-xm .principal-xm__from,
.principal-xm .principal-xm__label,
.principal-xm .principal-xm__sNum {
    margin: 0 3px
}

.principal-xm span:first-child {
    margin-left: 0
}

.principal-xm span:last-child {
    margin-right: 0
}

.principal-xm .principal-xm--sale .principal-xm__label,
.principal-xm .principal-xm--sale .principal-xm__sNum {
    margin: 0 3px
}

.principal-xm .principal-xm--sale span:first-child {
    margin-left: 0
}

.principal-xm .principal-xm--sale span:last-child {
    margin-right: 0
}

.text_container--title {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px 0 12px
}

.text_container--font {
    align-items: center;
    display: flex;
    margin-bottom: 20px
}

.text_container--pos {
    display: flex;
    justify-content: space-between
}

.text_container .img-label {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -76px 0;
    display: inline-block;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    width: 26px
}

.text_container .text-label {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px
}

.text_container .btn-container {
    margin-top: 20px;
    text-align: right
}

.text_container .eye {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -74px -22px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-left: 160px;
    width: 24px
}

.text_container .eye.open {
    background-position: -75px -47px
}

.text_container .tips {
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 45px
}

.text_container .pos-item {
    font-size: 14px
}

.edit-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    width: 110px
}

.xm-btn {
    background: #1890ff;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle
}

.xm-btn.gray {
    background: #cdcdcd
}

.xm-btn__text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    width: 100%
}

.xm-btn-primary {
    background: #1890ff;
    color: #fff
}

.xm-btn-normal {
    background: #cdcdcd;
    color: #fff
}

.xm-btn-link {
    background: #cdcdcd;
    color: #424242
}

.xm-btn-link:hover {
    color: #1890ff
}

.xm-btn-line {
    background: #fff;
    border: 1px solid #1890ff;
    color: #424242
}

.xm-btn-small {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 88px
}

.xm-btn-middle {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 160px
}

.xm-btn-large {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    width: 240px
}

@keyframes loader {
    0% {
        opacity: .2;
        transform: scaleY(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}


.link-xm {
    display: inline-block;
    text-decoration: none
}

.link-xm.xm-button {
    background-color: initial
}

.texto-xm {
    display: inline-block;
    white-space: break-spaces
}

.xm-blur {
    opacity: .3 !important
}

.hide {
    display: none
}

.xm-page-hide {
    height: 0;
    position: absolute
}

.xm-update {
    position: relative
}

.secao {
    background-repeat: no-repeat;
    margin-bottom: -1PX
}

.ecco_name-88 {
    font-size: .34375rem;
    line-height: .429688rem
}

.ecco_name-80 {
    font-size: .3125rem;
    line-height: .390625rem
}

.ecco_name-72 {
    font-size: .34375rem;
    line-height: .351563rem
}

.ecco_slogan {
    font-size: .1875rem;
    line-height: .234375rem
}

.ecco_ksp {
    font-size: .117188rem;
    line-height: .171875rem
}

.ecco_name-radius {
    border-radius: .015625rem;
    font-size: .15625rem;
    line-height: .226563rem
}

.ecco_ksp-title {
    font-size: .125rem;
    line-height: .15625rem
}

.ecco_ksp-text {
    font-size: .09375rem;
    line-height: .125rem
}

.ecco_ksp-item {
    padding: .117188rem .136719rem
}

.ecco_title {
    font-size: .234375rem;
    line-height: .28125rem
}

.ecco_text {
    font-size: .117188rem;
    line-height: .15625rem
}

.ecco_note {
    font-size: .09375rem;
    line-height: .109375rem
}

.ecco_number {
    font-size: .429688rem;
    line-height: .429688rem
}

.ecco_note-text {
    font-size: .09375rem;
    line-height: .125rem
}

.preco-comum {
    font-family: CamphorPro-Light;
    font-size: .257813rem
}

.preco-comum .principal-xm__from {
    font-size: 60%;
    margin: 0 .039063rem
}

.preco-comum .principal-xm__sNum {
    font-family: CamphorPro-Bold;
    margin: 0
}

.preco-comum .principal-xm__label {
    font-size: 60%;
    margin: 0
}

.preco-comum .principal-xm--current .principal-xm__label {
    font-family: CamphorPro-Bold;
    font-size: 100%
}

.preco-comum .principal-xm--sale {
    margin-right: .039063rem
}

.preco-comum .principal-xm--sale .principal-xm__label,
.preco-comum .principal-xm--sale .principal-xm__sNum {
    margin: 0
}

.preco-comum .principal-xm--origin .principal-xm__label {
    font-size: 100%
}

.preco-comum .principal-xm--origin .principal-xm__mNum {
    margin: 0
}

.ecco_specs-title {
    font-size: .109375rem;
    line-height: .140625rem
}

.ecco_specs-label,
.ecco_specs-value {
    font-size: .070313rem;
    line-height: .101563rem
}