*{
    padding: 0;
    margin: 0;
   
}

@font-face { font-family: CamphorPro-Light; src: url(./fonts/CamphorPro-Light.woff) format("woff")}
@font-face { font-family: CamphorPro-Regular; src: url(./fonts/CamphorPro-Regular.woff) format("woff")}
@font-face { font-family: CamphorPro-Bold;  src: url(./fonts/CamphorPro-Bold.woff) format("woff")}
@font-face { font-family: CamphorPro-Thin; src: url(./fonts/CamphorPro-Thin.woff) format("woff")}
@font-face {font-family: Camphor-Heavy;  src: url(./fonts/CamphorPro-Heavy.woff) format("woff")}
@font-face { font-family: CamphorPro-Medium; src: url(./fonts/CamphorPro-Medium.woff) format("woff")}


.f-heavy { font-family: Camphor-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorPro-Regular, sans-serif}
.f-light {font-family: CamphorPro-Light, sans-serif}
.f-bold {font-family: CamphorPro-Bold, sans-serif;font-weight: 700}
.f-medium {font-family: CamphorPro-Medium, sans-serif}
.f-thin {font-family: CamphorPro-Thin, sans-serif}
.f-nova { font-family: ProximaNova, sans-serif}

/*-------------------------------------------------------------------*/

.overview-con {
    width: 100%
}

.overview-con .f12 {
    font-size: .046875rem
}

.overview-con .f14 {
    font-size: .054688rem
}

.overview-con .f16 {
    font-size: .0625rem
}

.overview-con .f18 {
    font-size: .070313rem
}

.overview-con .f20 {
    font-size: .078125rem
}

.overview-con .f22 {
    font-size: .085938rem
}

.overview-con .f24 {
    font-size: .09375rem
}

.overview-con .f26 {
    font-size: .101563rem
}

.overview-con .f28 {
    font-size: .109375rem
}

.overview-con .f30 {
    font-size: .117188rem
}

.overview-con .f32 {
    font-size: .125rem
}

.overview-con .f34 {
    font-size: .132813rem
}

.overview-con .f36 {
    font-size: .140625rem
}

.overview-con .f38 {
    font-size: .148438rem
}

.overview-con .f40 {
    font-size: .15625rem
}

.overview-con .f42 {
    font-size: .164063rem
}

.overview-con .f44 {
    font-size: .171875rem
}

.overview-con .f46 {
    font-size: .179688rem
}

.overview-con .f48 {
    font-size: .1875rem
}

.overview-con .f50 {
    font-size: .195313rem
}

.overview-con .f52 {
    font-size: .203125rem
}

.overview-con .f54 {
    font-size: .210938rem
}

.overview-con .f56 {
    font-size: .21875rem
}

.overview-con .f58 {
    font-size: .226563rem
}

.overview-con .f60 {
    font-size: .234375rem
}

.overview-con .f64 {
    font-size: .25rem
}

.overview-con .f66 {
    font-size: .257813rem
}

.overview-con .f68 {
    font-size: .265625rem
}

.overview-con .f70 {
    font-size: .273438rem
}

.overview-con .f72 {
    font-size: .28125rem
}

.overview-con .f74 {
    font-size: .289063rem
}

.overview-con .f76 {
    font-size: .296875rem
}

.overview-con .f78 {
    font-size: .304688rem
}

.overview-con .f80 {
    font-size: .3125rem
}

.overview-con .f82 {
    font-size: .320313rem
}

.overview-con .f86 {
    font-size: .335938rem
}

.overview-con .f88 {
    font-size: .34375rem
}

.overview-con .f90 {
    font-size: .351563rem
}

.overview-con .f92 {
    font-size: .359375rem
}

.overview-con .f98 {
    font-size: .382813rem
}

.overview-con .f100 {
    font-size: .390625rem
}

.overview-con .f106 {
    font-size: .414063rem
}

.overview-con .f108 {
    font-size: .421875rem
}

.overview-con .f110 {
    font-size: .429688rem
}

.overview-con .f114 {
    font-size: .445313rem
}

.overview-con .f116 {
    font-size: .453125rem
}

.overview-con .f120 {
    font-size: .46875rem
}

.overview-con .f128 {
    font-size: .5rem
}

.overview-con .f130 {
    font-size: .507813rem
}

.overview-con .f138 {
    font-size: .539063rem
}

.overview-con .f140 {
    font-size: .546875rem
}

.overview-con .f146 {
    font-size: .570313rem
}

.overview-con .f148 {
    font-size: .578125rem
}

.overview-con .f150 {
    font-size: .585938rem
}

.overview-con .f160 {
    font-size: .625rem
}

.overview-con .f200 {
    font-size: .78125rem
}

.overview-con .section {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    line-height: 1.2;
    margin-bottom: -1px;
    min-width: 4.789063rem;
    overflow: hidden;
    position: relative
}

.hairlines .overview-con .section {
    margin-bottom: -.5px
}

.overview-con .section1 {
    color: #fff;
    height: 6.3125rem;
    text-align: center
}

.overview-con .section1 .section1_content {
    padding-top: .613281rem
}

.overview-con .section1 .section1_icon {
    height: .242188rem;
    margin-right: .117188rem;
    width: 1.285156rem
}

.overview-con .section1 .slogan_1 {
    margin-top: .160156rem
}

.overview-con .section1 .price-common {
    margin-top: .195313rem
}

.overview-con .section2 {
    align-items: center;
    background-color: #24262b;
    color: #fff;
    display: flex;
    height: 3.125rem;
    justify-content: center
}

.overview-con .section2 .section2_content_button {
    box-sizing: border-box;
    display: flex
}

.overview-con .section2 .section2_left {
    height: 2.304688rem;
    margin-right: .117188rem;
    position: relative;
    width: 2.140625rem
}

.overview-con .section2 .section2_img1 {
    height: 2.304688rem;
    position: absolute;
    width: 2.140625rem
}

.overview-con .section2 .slogan_2 {
    position: absolute;
    text-align: center;
    top: .265625rem;
    width: 2.023438rem;
    z-index: 10
}

.overview-con .section2 .section2_img2 {
    height: 1.089844rem;
    width: 4.882813rem
}

.overview-con .section2 .section2_content>div {
    position: relative
}

.overview-con .section2 .slogan_3 {
    left: .34375rem;
    position: absolute;
    text-align: center;
    top: .265625rem;
    width: 2.023438rem
}

.overview-con .section2 .section2_img3,
.overview-con .section2 .section2_img4 {
    height: 1.09375rem;
    width: 2.382813rem
}

.overview-con .section2 .section2_content_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: .078125rem
}

.overview-con .section2 .section2_content_bottom div {
    position: relative
}

.overview-con .section2 .slogan_4,
.overview-con .section2 .slogan_5 {
    left: .34375rem;
    position: absolute;
    text-align: center;
    top: .382813rem;
    width: 1.742188rem
}

.overview-con .section-new {
    background-size: cover;
    box-sizing: border-box;
    height: 4.6875rem;
    padding-top: .597656rem
}

.overview-con .section-new .title {
    color: #1b1b1b;
    display: block;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    width: 5.46875rem
}

.overview-con .section-new .text-box {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    position: absolute;
    text-align: center;
    width: 1.132813rem
}

.overview-con .section-new .text-box-1 {
    left: 2.214844rem;
    top: 3.074219rem
}

.overview-con .section-new .text-box-2 {
    right: 2.148438rem;
    top: 2.558594rem;
    width: 1.25rem
}

.overview-con .section3 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 4.765625rem;
    text-align: center
}

.overview-con .section3>div {
    padding-top: .597656rem;
    width: 7.03125rem
}

.overview-con .section3 .overview_1 {
    margin-bottom: .132813rem
}

.overview-con .section4 {
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 5.398438rem
}

.overview-con .section4>div {
    color: #fff;
    padding-top: .601563rem;
    text-align: center;
    width: 7.03125rem
}

.overview-con .section4 .overview_3 {
    margin-bottom: .132813rem
}

.overview-con .section5 {
    background-size: cover;
    height: 4.921875rem
}

.overview-con .section5>div {
    padding-left: 1.375rem;
    padding-top: 1.796875rem;
    width: 3.078125rem
}

.overview-con .section5 .overview_5 {
    margin-bottom: .085938rem
}

.overview-con .section5 .overview_6 {
    color: #333
}

.overview-con .section6 {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 12.851563rem
}

.overview-con .section6 .section6_top {
    padding-top: .585938rem;
    text-align: center;
    width: 7.03125rem
}

.overview-con .section6 .overview_7 {
    margin-bottom: .097656rem
}

.overview-con .section6 .section6_content {
    align-items: center;
    display: flex;
    height: 3.953125rem;
    justify-content: center;
    margin-top: 2.296875rem;
    width: 8.558594rem
}

.overview-con .section6 .overview_9 {
    margin: .078125rem
}

.overview-con .section6 .overview_15,
.overview-con .section6 .overview_16 {
    margin-bottom: .3125rem;
    margin-top: .195313rem
}

.overview-con .section6 .overview_11,
.overview-con .section6 .overview_15 {
    background: linear-gradient(90deg, #71c8fd, #336fe9);
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000
}

.overview-con .section6 .left {
    display: flex;
    text-align: center
}

.overview-con .section6 .left div:first-child {
    margin-right: .667969rem
}

.overview-con .section6 .left div:nth-child(2) {
    margin-right: .726563rem
}

.overview-con .section6 .left div {
    display: flex;
    flex-direction: column
}

.overview-con .section6 .right {
    width: 3.402344rem
}

.overview-con .section6 .overview_13 {
    margin-bottom: .117188rem
}

.overview-con .section6 .overview_50,
.overview-con .section6 .overview_51 {
    color: #939597
}

.overview-con .section6 .section6_img1 {
    height: 2.257813rem;
    margin-bottom: .246094rem;
    width: 1.042969rem
}

.overview-con .section6 .section6_img2 {
    height: 2.257813rem;
    margin-bottom: .246094rem;
    width: .621094rem
}

.overview-con .section6 .section6_2 {
    margin-top: .574219rem;
    text-align: center;
    width: 7.03125rem
}

.overview-con .section6 .section6_3_content {
    display: flex;
    margin-top: .507813rem
}

.overview-con .section6 .section6_3_content>div {
    text-align: center
}

.overview-con .section6 .section6_3_content>div:first-child {
    border-right: 1px solid #c5c5c54d;
    margin-right: .292969rem;
    padding-bottom: .195313rem;
    padding-right: .292969rem
}

.hairlines .overview-con .section6 .section6_3_content>div:first-child {
    border-right: .5px solid #c5c5c54d
}

.overview-con .section6 .section6_3_left {
    display: flex
}

.overview-con .section6 .section6_3_left>div {
    display: flex;
    flex-direction: column
}

.overview-con .section6 .section6_3_left>div span {
    text-align: center;
    width: .597656rem
}

.overview-con .section6 .section6_3_left>div span:first-child {
    color: #1de948;
    margin-top: .214844rem
}

.overview-con .section6 .section6_3_left>div span:nth-child(2) {
    color: #1db2ff;
    margin-top: .351563rem
}

.overview-con .section6 .section6_3_left>div span:nth-child(3) {
    color: #1cffce;
    margin-top: .3125rem
}

.overview-con .section6 .section6_img3 {
    height: 1.25rem;
    margin-top: .15625rem;
    width: 2.441406rem
}

.overview-con .section6 .section6_3_right {
    display: flex
}

.overview-con .section6 .section6_3_right>div {
    display: flex;
    flex-direction: column
}

.overview-con .section6 .section6_3_right>div span {
    width: .597656rem
}

.overview-con .section6 .section6_3_right>div span:first-child {
    color: #1de948;
    margin-top: .351563rem
}

.overview-con .section6 .section6_3_right>div span:nth-child(2) {
    margin-top: .214844rem
}

.overview-con .section6 .section6_3_right>div span:nth-child(3) {
    margin-top: .234375rem
}

.overview-con .section7 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 4.765625rem;
    text-align: center
}

.overview-con .section7>div {
    margin-top: .574219rem;
    width: 7.03125rem
}

.overview-con .section7 .overview_18 {
    margin-top: .105469rem
}

.overview-con .section8 {
    align-items: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 9.277344rem
}

.overview-con .section8 .section8_top {
    margin-top: .585938rem;
    text-align: center;
    width: 7.03125rem
}

.overview-con .section8 .overview_20 {
    margin-top: .046875rem
}

.overview-con .section8 .overview_22 {
    margin-bottom: .078125rem
}

.overview-con .section8 .overview_21 {
    color: #fff9;
    line-height: .15625rem;
    margin-top: .074219rem
}

.overview-con .section8 .section8_content {
    display: flex;
    height: 3.984375rem;
    justify-content: space-between;
    margin-top: 2.8125rem;
    padding-left: .597656rem;
    position: relative;
    width: 8.558594rem
}

.overview-con .section8 .section8_content>div {
    margin-top: 1.417969rem;
    width: 3.320313rem
}

.overview-con .section8 .section8_img {
    height: 5.984375rem;
    position: absolute;
    right: -1.132813rem;
    top: -.410156rem;
    width: 5.667969rem
}

.overview-con .section9 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 4.359375rem
}

.overview-con .section9>div {
    margin-right: 1.304688rem;
    margin-top: 1.484375rem;
    width: 3.320313rem
}

.overview-con .section9 .overview_24 {
    margin-bottom: .09375rem
}

.overview-con .section10 {
    height: 7.03125rem
}

.overview-con .section10 .section10_text {
    color: #fff;
    margin-left: 1.378906rem;
    margin-top: 1.414063rem;
    width: 3.320313rem
}

.overview-con .section10 .section10_img {
    display: flex;
    justify-content: center;
    margin-top: .859375rem
}

.overview-con .section10 .overview_26 {
    margin-bottom: .167969rem
}

.overview-con .section10 .section10_img1,
.overview-con .section10 .section10_img2 {
    margin-right: .117188rem
}

.overview-con .section10 .section10_img1,
.overview-con .section10 .section10_img2,
.overview-con .section10 .section10_img3 {
    height: 3.085938rem;
    width: 2.863281rem
}

.overview-con .section11 {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 3.515625rem;
    text-align: center
}

.overview-con .section11 .overview_28 {
    margin-bottom: .242188rem;
    margin-top: .484375rem;
    width: 7.03125rem
}

.overview-con .section11 .section11_content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    width: 7.03125rem
}

.overview-con .section11 .section11_img1 {
    height: .625rem;
    margin-bottom: .117188rem;
    width: .625rem
}

.overview-con .section11 .section11_content>div {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: .78125rem;
    width: 1.171875rem
}

.overview-con .section11 .section11_content>div:last-child {
    margin: 0
}

.overview-con .section11 .section11_content>div span {
    width: 1.386719rem
}

.overview-con .section11 .section11_content>div span:nth-child(2) {
    margin-bottom: .054688rem
}

.overview-con .section11 .section11_content>div span:nth-child(3) {
    color: #fff9
}

.overview-con .section12 {
    color: #fff;
    height: 1.953125rem
}

.overview-con .section12 .overview_37 {
    color: #fff;
    margin-left: 2.28125rem;
    margin-top: .816406rem;
    width: 3.152344rem
}

.overview-con .section13 {
    align-items: center;
    color: #666c;
    display: flex;
    flex-direction: column;
    padding: .46875rem 0;
    text-align: left
}

.overview-con .section13>span:first-child {
    margin-bottom: .101563rem
}

.overview-con .section13>span {
    width: 7.121094rem
}

.edit-section {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 30px
}

.xm-price--origin {
    font-size: .6em;
    text-decoration: line-through
}

.xm-price .xm-price__from,
.xm-price .xm-price__label,
.xm-price .xm-price__sNum {
    margin: 0 3px
}

.xm-price span:first-child {
    margin-left: 0
}

.xm-price span:last-child {
    margin-right: 0
}

.xm-price .xm-price--sale .xm-price__label,
.xm-price .xm-price--sale .xm-price__sNum {
    margin: 0 3px
}

.xm-price .xm-price--sale span:first-child {
    margin-left: 0
}

.xm-price .xm-price--sale span:last-child {
    margin-right: 0
}

.text_container--title {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px 0 12px
}

.text_container--font {
    align-items: center;
    display: flex;
    margin-bottom: 20px
}

.text_container--pos {
    display: flex;
    justify-content: space-between
}

.text_container .img-label {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -76px 0;
    display: inline-block;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    width: 26px
}

.text_container .text-label {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px
}

.text_container .btn-container {
    margin-top: 20px;
    text-align: right
}

.text_container .eye {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -74px -22px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-left: 160px;
    width: 24px
}

.text_container .eye.open {
    background-position: -75px -47px
}

.text_container .tips {
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 45px
}

.text_container .pos-item {
    font-size: 14px
}

.edit-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    width: 110px
}

.xm-btn {
    background: #1890ff;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle
}

.xm-btn.gray {
    background: #cdcdcd
}

.xm-btn__text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    width: 100%
}

.xm-btn-primary {
    background: #1890ff;
    color: #fff
}

.xm-btn-normal {
    background: #cdcdcd;
    color: #fff
}

.xm-btn-link {
    background: #cdcdcd;
    color: #424242
}

.xm-btn-link:hover {
    color: #1890ff
}

.xm-btn-line {
    background: #fff;
    border: 1px solid #1890ff;
    color: #424242
}

.xm-btn-small {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 88px
}

.xm-btn-middle {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 160px
}

.xm-btn-large {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    width: 240px
}

@keyframes loader {
    0% {
        opacity: .2;
        transform: scaleY(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}


.xm-link {
    display: inline-block;
    text-decoration: none
}

.xm-link.xm-button {
    background-color: initial
}

.xm-text {
    display: inline-block;
    white-space: break-spaces
}

.xm-blur {
    opacity: .3 !important
}

.hide {
    display: none
}

.xm-page-hide {
    height: 0;
    position: absolute
}

.xm-update {
    position: relative
}

.section {
    background-repeat: no-repeat;
    margin-bottom: -1PX
}

.eco_name-88 {
    font-size: .34375rem;
    line-height: .429688rem
}

.eco_name-80 {
    font-size: .3125rem;
    line-height: .390625rem
}

.eco_name-72 {
    font-size: .34375rem;
    line-height: .351563rem
}

.eco_slogan {
    font-size: .1875rem;
    line-height: .234375rem
}

.eco_ksp {
    font-size: .117188rem;
    line-height: .171875rem
}

.eco_name-radius {
    border-radius: .015625rem;
    font-size: .15625rem;
    line-height: .226563rem
}

.eco_ksp-title {
    font-size: .125rem;
    line-height: .15625rem
}

.eco_ksp-text {
    font-size: .09375rem;
    line-height: .125rem
}

.eco_ksp-item {
    padding: .117188rem .136719rem
}

.eco_title {
    font-size: .234375rem;
    line-height: .28125rem
}

.eco_text {
    font-size: .117188rem;
    line-height: .15625rem
}

.eco_note {
    font-size: .09375rem;
    line-height: .109375rem
}

.eco_number {
    font-size: .429688rem;
    line-height: .429688rem
}

.eco_note-text {
    font-size: .09375rem;
    line-height: .125rem
}

.price-common {
    font-family: CamphorPro-Light;
    font-size: .257813rem
}

.price-common .xm-price__from {
    font-size: 60%;
    margin: 0 .039063rem
}

.price-common .xm-price__sNum {
    font-family: CamphorPro-Bold;
    margin: 0
}

.price-common .xm-price__label {
    font-size: 60%;
    margin: 0
}

.price-common .xm-price--current .xm-price__label {
    font-family: CamphorPro-Bold;
    font-size: 100%
}

.price-common .xm-price--sale {
    margin-right: .039063rem
}

.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
    margin: 0
}

.price-common .xm-price--origin .xm-price__label {
    font-size: 100%
}

.price-common .xm-price--origin .xm-price__mNum {
    margin: 0
}


.eco_specs-title {
    font-size: .109375rem;
    line-height: .140625rem
}

.eco_specs-label,
.eco_specs-value {
    font-size: .070313rem;
    line-height: .101563rem
}